.blog-navigation{
font-family: Arial;
font-style: normal;
font-weight: 800px;
font-size: 40px;
line-height: 49px;

display: flex;
align-items: center;

color: #FFFFFF;
background-color:blue;

}